<section class="about-section spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <img src="/cms1/img/about.jpg" alt="">
            </div>
            <div class="col-lg-6">
                <div class="about-text">
                    <h2>@title@</h2>
                    <p>@text@</p>
                    <div class="about-sign">
                        <div class="sign">
                            <img src="/cms1/img/sign.png" alt="">
                        </div>
                        <div class="sign-info">
                            <h5>Michael Smith</h5>
                            <span>CEO Industrial INC</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>