<!-- Contact section   -->
<section class="contact-section spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="contact-text">
                    <h2>@textTitle@</h2>
                    <p>@textBody@</p>
                    <div class="header-info-box">
                        <div class="hib-icon">
                            <img src="/cms1/img/icons/phone.png" alt="" class="">
                        </div>
                        <div class="hib-text">
                            <h6>@textPhone@</h6>
                            <p>@textEmail@</p>
                        </div>
                    </div>
                    <div class="header-info-box">
                        <div class="hib-icon">
                            <img src="/cms1/img/icons/map-marker.png" alt="" class="">
                        </div>
                        <div class="hib-text">
                            <h6>@textAddressStreet@</h6>
                            <p>@textAddressCity@</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-8">
                <form class="contact-form">
                    <div class="row">
                        <div class="col-lg-6">
                            <input type="text" placeholder="Your Name">
                        </div>
                        <div class="col-lg-6">
                            <input type="text" placeholder="Your Email">
                        </div>
                        <div class="col-lg-4">
                        </div>
                        <div class="col-lg-12">
                            <input type="text" placeholder="Subject">
                            <textarea class="text-msg" placeholder="Message"></textarea>
                            <button class="site-btn" type="submit">send message</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
<!-- Contact section end  -->