<!-- Milestones section -->
<section class="milestones-section set-bg" data-setbg="/cms1/img/milestones-bg.jpg">
    <div class="container text-white">
        <div class="row">
            <div class="col-lg-3 col-sm-6">
                <div class="milestone">
                    <div class="milestone-icon">
                        <img src="/cms1/img/icons/plug.png" alt="">
                    </div>
                    <div class="milestone-text">
                        <span>Clients</span>
                        <h2>725</h2>
                        <p>Nam ornare ipsum </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="milestone">
                    <div class="milestone-icon">
                        <img src="/cms1/img/icons/light.png" alt="">
                    </div>
                    <div class="milestone-text">
                        <span>Growth</span>
                        <h2>45%</h2>
                        <p>Nam ornare ipsum </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="milestone">
                    <div class="milestone-icon">
                        <img src="/cms1/img/icons/traffic-cone.png" alt="">
                    </div>
                    <div class="milestone-text">
                        <span>Projects</span>
                        <h2>59</h2>
                        <p>Nam ornare ipsum </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="milestone">
                    <div class="milestone-icon">
                        <img src="/cms1/img/icons/worker.png" alt="">
                    </div>
                    <div class="milestone-text">
                        <span>Employees</span>
                        <h2>138</h2>
                        <p>Nam ornare ipsum </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Milestones section end -->