<section class="about-section spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <img src="/cms1/img/about.jpg" alt="">
            </div>
            <div class="col-lg-6">
                <div class="about-text">
                    <h2>We produce or supply Goods, & Services</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque orci purus, sodales in est quis, blandit sollicitudin est. Nam ornare ipsum ac accumsan auctor. Donec consequat arcu et commodo interdum. Vivamus posuere lorem lacus.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque orci purus, sodales in est quis, blandit sollicitudin est. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque orci purus, sodales in est quis, blandit sollicitudin est. Nam ornare ipsum ac accumsan auctor. </p>
                    <div class="about-sign">
                        <div class="sign">
                            <img src="/cms1/img/sign.png" alt="">
                        </div>
                        <div class="sign-info">
                            <h5>Michael Smith</h5>
                            <span>CEO Industrial INC</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>