<!-- Services section  -->
<section class="services-section">
    <div class="services-warp">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <div class="service-item">
                        <div class="si-head">
                            <div class="si-icon">
                                <img src="/cms1/img/icons/cogwheel.png" alt="">
                            </div>
                            <h5>Mechanical Engineering</h5>
                        </div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque orci purus, sodales in est quis, blandit sollicitudin est. </p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="service-item">
                        <div class="si-head">
                            <div class="si-icon">
                                <img src="/cms1/img/icons/helmet.png" alt="">
                            </div>
                            <h5>Profesional Workers</h5>
                        </div>
                        <p>Quisque orci purus, sodales in est quis, blandit sollicitudin est. Nam ornare ipsum ac accumsan auctor. Donec consequat arcu.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="service-item">
                        <div class="si-head">
                            <div class="si-icon">
                                <img src="/cms1/img/icons/wind-engine.png" alt="">
                            </div>
                            <h5>Green Energy</h5>
                        </div>
                        <p>Sodales in est quis, blandit sollicitudin est. Nam ornare ipsum ac accumsan auctor. Donec con-sequat arcu et commodo interdum. </p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="service-item">
                        <div class="si-head">
                            <div class="si-icon">
                                <img src="/cms1/img/icons/pollution.png" alt="">
                            </div>
                            <h5>Power Engineering</h5>
                        </div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque orci purus, sodales in est quis, blandit sollicitudin est. </p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="service-item">
                        <div class="si-head">
                            <div class="si-icon">
                                <img src="/cms1/img/icons/pumpjack.png" alt="">
                            </div>
                            <h5>Oil & Lubricants</h5>
                        </div>
                        <p>Quisque orci purus, sodales in est quis, blandit sollicitudin est. Nam ornare ipsum ac accumsan auctor. Donec consequat arcu.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="service-item">
                        <div class="si-head">
                            <div class="si-icon">
                                <img src="/cms1/img/icons/light-bulb.png" alt="">
                            </div>
                            <h5>Power & Energy</h5>
                        </div>
                        <p>Sodales in est quis, blandit sollicitudin est. Nam ornare ipsum ac accumsan auctor. Donec con-sequat arcu et commodo interdum. </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Services section end  -->