<!-- Team section -->
<section class="team-section spad" xmlns:th="http://www.w3.org/1999/xhtml">
    <div class="container">
        <div class="team-text">
            <h2 th:text="${title}">Our Amazing Team</h2>
            <p th:text="${intro}">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque orci purus, sodales in est quis, blandit sollicitudin est. Nam ornare ipsum ac accumsan auctor. Donec consequat arcu et commodo interdum. Vivamus posuere lorem lacus.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque orci purus, sodales in est quis, blandit sollicitudin est.</p>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="team-member">
                    <img src="/cms1/img/team/1.jpg" alt="">
                    <div class="member-info">
                        <h3>Michael Smith</h3>
                        <p>Engeneer Chemist </p>
                        <a href="#" class="site-btn">See C.V.</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="team-member">
                    <img src="/cms1/img/team/2.jpg" alt="">
                    <div class="member-info">
                        <h3>Jessica Steing</h3>
                        <p>Engeneer Chemist </p>
                        <a href="#" class="site-btn">See C.V.</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="team-member">
                    <img src="/cms1/img/team/3.jpg" alt="">
                    <div class="member-info">
                        <h3>Chris Williams</h3>
                        <p>Engeneer Chemist </p>
                        <a href="#" class="site-btn">See C.V.</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Team section end -->