<!-- Testimonial section -->
<section class="testimonial-section">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6 p-0">
                <div class="testimonial-bg set-bg" data-setbg="/cms1/img/testimonial-bg.jpg"></div>
            </div>
            <div class="col-lg-6 p-0">
                <div class="testimonial-box">
                    <div class="testi-box-warp">
                        <h2>Client’s Testimonials</h2>
                        <div class="testimonial-slider owl-carousel">
                            <div class="testimonial">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque orci purus, sodales in est quis, blandit sollicitudin est. Nam ornare ipsum ac accumsan auctor. Donec consequat arcu et commodo interdum. Vivamus posuere lorem lacus.Lorem ipsum dolor sit amet, consecte-tur adipiscing elit. Quisque orci purus, sodales in est quis, blandit sollicitudin est.</p>
                                <img src="/cms1/img/testimonial-thumb.jpg" alt="" class="testi-thumb">
                                <div class="testi-info">
                                    <h5>Michael Smith</h5>
                                    <span>CEO Industrial INC</span>
                                </div>
                            </div>
                            <div class="testimonial">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque orci purus, sodales in est quis, blandit sollicitudin est. Nam ornare ipsum ac accumsan auctor. Donec consequat arcu et commodo interdum. Vivamus posuere lorem lacus.Lorem ipsum dolor sit amet, consecte-tur adipiscing elit. Quisque orci purus, sodales in est quis, blandit sollicitudin est.</p>
                                <img src="/cms1/img/testimonial-thumb.jpg" alt="" class="testi-thumb">
                                <div class="testi-info">
                                    <h5>Michael Smith</h5>
                                    <span>CEO Industrial INC</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Testimonial section end  -->