<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<!--/*/ <th:block th:include="admin/_head :: head" th:with="parameters=${parameters}"></th:block>/*/-->

<body id="page-top">

<!-- Page Wrapper -->
<div id="wrapper">

  <!-- Sidebar -->
  <!--/*/ <th:block th:include="admin/_sidebar :: sidebar" th:with="pageTitle=${pageTitle}"></th:block>/*/-->
  <!-- End of Sidebar -->

  <!-- Content Wrapper -->
  <div id="content-wrapper" class="d-flex flex-column">

    <!-- Main Content -->
    <div id="content">

      <!-- Topbar -->
      <!--/*/ <th:block th:include="admin/_topbar :: topbar" th:with="pageTitle=${pageTitle}"></th:block>/*/-->
      <!-- End of Topbar -->

      <!-- Begin Page Content -->
      <div class="container-fluid">

        <!-- Page Heading -->
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
          <h1 class="h3 mb-0 text-gray-800" th:text="|Edit section: ${parameters['section']?.id} - ${parameters['section']?.title}|">
            Dashboard
          </h1>
          <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">
            <i class="fas fa-download fa-sm text-white-50"></i> Generate Report</a>
        </div>

        <!-- Content Row -->
        <div class="row">
          <form th:action="@{/admin/edit/section}" method="post" th:object="${section}" enctype="multipart/form-data">
            <div>
              <a class="btn btn-primary" href="#" data-toggle="modal" data-target="#sectionModal">
                Choose section template
              </a>
              <label th:text="${parameters['page']?.template}"></label>
            </div>
            <div class="mb-3">
              <input class="form-control" id="id" type="hidden"
                     th:field="*{id}" th:name="title">
            </div>
            <div class="mb-3"><label for="title">Title</label>
              <input class="form-control" id="title" type="text"
                     th:field="*{title}" th:name="title">
            </div>
            <div class="mb-0">
              <label for="html">HTML</label>
              <textarea class="form-control" id="textAreaHtml" rows="10" cols="100"
                        th:field="*{html}" th:name="html"></textarea>

            </div>
            <div class="mb-0">
              <a class="btn btn-primary" href="#" data-toggle="modal" data-target="#viewModal">
                View 2
              </a>

              <a class="btn btn-primary" onclick="openModal()">
                View 3
              </a>
            </div>
            <div class="mb-0" th:each="item: ${parameters['formFields']}">
              <label th:text="${item.value.title}">HTML</label>
              <input class="form-control" th:id="${item.key}" th:type="${item.value.type}"
                     th:value="${item.value.text}" th:onchange="changeSectionItem(this)">
            </div>
            <input class="form-control" type="hidden" id="theme"
                   th:value="${parameters['theme']}">
            <div class="mb-0">
              <label for="online">Online?</label>
              <input type="checkbox" name="" id="online" th:field="*{online}" th:name="online"/>
            </div>
            <div class="mb-0">
              <label for="page">Page</label>
              <input type="text" id="page" th:field="*{page}" th:name="page" />
            </div>
<!--            <div class="mb-0">-->
<!--              <label for="updated">Updated at</label>-->
<!--              <input type="datetime-local" id="updated" th:field="*{updated}" th:name="updated"/>-->
<!--            </div>-->
            <button type="submit" class="btn btn-primary">Save</button>
          </form>
        </div>

      </div>
    </div>
    <!-- End of Main Content -->
    <!-- Footer -->
    <!--/*/ <th:block th:include="admin/_footer :: footer"></th:block>/*/-->
    <!-- End of Footer -->

  </div>
  <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->

<!--/*/ <th:block th:include="admin/_footer :: modals"></th:block>/*/-->


<!--/*/ <th:block th:include="admin/_scripts :: scripts"></th:block>/*/-->

<!-- Section Template Modal-->

<div class="modal fade" id="sectionModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Choose a template for your section</h5>
        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <label for="vehicle1">Call to action</label><br>
          <input type="radio" id="vehicle1" name="vehicle1" value="Bike">
          <img th:src="@{/admin/img/cms_cta.png}" alt="" width="80%"/>

          <label for="vehicle1">Milestones</label><br>
          <input type="radio" id="vehicle2" name="vehicle1" value="Bike">
          <img th:src="@{/admin/img/cms_milestones.png}" alt="" width="80%"/>

        </form>
      </div>
      <div class="modal-footer">
        <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
        <a class="btn btn-primary"
           th:href="@{|/admin/edit/section?id=${parameters['section']?.id}&template=|}">
          Select</a>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="viewModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modelTitle">Preview your section</h5>
        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">
        <div id="preview_area"></div>
      </div>
      <div class="modal-footer">
        <button class="btn btn-secondary" type="button" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<script type="javascript">
    function openModal() {
      console.log('openModal called!');
      console.log($('#theme').val());
      console.log($('#textAreaHtml').val());
      // set content
      // const div = document.getElementById('preview_area');
      // const htm = document.getElementById('textAreaHtml').value; // html code in textarea
      //
      // div.innerHTML = htm;

      $('#preview_area').html($('#textAreaHtml').val());

      $('#viewModal').modal('show');
    }

    function changeSectionItem(elem) {
      let endText;
      const textTemplate = $('#theme').val();
      // look for text between 'item:' and '<>' or '}'
      const tag = elem.getAttribute('id') + ':';
      const value = elem.getAttribute('value');
      console.log(tag + ' --> ' + value)
      const value2 = $('#' + elem.getAttribute('id')).val();
      const newText = tag + value2;
      const startText = textTemplate.substring(textTemplate.lastIndexOf(tag));
      // check if not last item in the template
      if (startText.indexOf('<>') === -1) {
        endText = startText.substring(0, startText.indexOf('}'));
      } else {
        endText = startText.substring(0, startText.indexOf('<>'));
      }
      console.log('endText: ' + endText);
      const result = textTemplate.replace(endText, newText);
      // update preview field
      console.log('textTemplate: ' + textTemplate);

      $("#theme").text(result);

      console.log('result: ' + result);
      let input = {
        "template": result
      }
      getHtmlFromTemplate(input)
              .then(function(data) {
        let updatedContent = data.html;
        updatedContent = updatedContent.replace("'", "\'");
        $('#textAreaHtml').text(updatedContent);
        console.log($('#textAreaHtml').val());
      }).catch(function(err) {
        // Run this when promise was rejected via reject()
        console.log(err)
      });

    }// changeSectionItem

    function getHtmlFromTemplate(payload) {
      return new Promise(function(resolve, reject) {
        $.ajax({
          type: "POST",
          url: "/api/admin/section/generate",
          contentType: 'application/json',
          data: JSON.stringify(payload),
          success: function(data) {
            console.log( data.html );
            resolve(data) // Resolve promise and go to then()
          },
          error: function(err) {
            reject(err) // Reject the promise and go to catch()
          }
        });
      });
    }


    // function getHtmlFromTemplate(payload) {
    //   $.ajax({
    //     type: "POST",
    //     url: "/api/admin/section/generate",
    //     contentType: 'application/json',
    //     data: JSON.stringify(payload),
    //     success: function( data ) {
    //       console.log( data.html );
    //       return `${data.html}`;
    //     },
    //     dataType: "json"
    //   });
    // }
</script>
</body>

</html>
