<html xmlns:th="http://www.thymeleaf.org">
<!-- SharePoint-style top row; nav item param is navItem (avoids name clashes with "link" in the evaluation context). -->
<li th:fragment="cmsSite1MenuItem(navItem)"
    class="static"
    th:classappend="${@navMenu.linkTargetsPage(navItem, parameters)} ? 'selected'">
    <a th:if="${@navMenu.site1UseViewLink(navItem, parameters)}"
       class="static menu-item ms-core-listMenu-item ms-displayInline ms-navedit-linkNode"
       th:classappend="${@navMenu.linkTargetsPage(navItem, parameters)} ? 'ms-core-listMenu-selected selected'"
       th:href="@{/view/{pid}(pid=${@navMenu.linkPageId(navItem)})}"
       th:title="${navItem.title}">
        <span class="additional-background ms-navedit-flyoutArrow"><span class="menu-item-text" th:text="${navItem.title}">Nav</span></span>
    </a>
    <a th:if="${@navMenu.site1UseSiteScopedLink(navItem, parameters)}"
       class="static menu-item ms-core-listMenu-item ms-displayInline ms-navedit-linkNode"
       th:classappend="${@navMenu.linkTargetsPage(navItem, parameters)} ? 'ms-core-listMenu-selected selected'"
       th:href="@{/site/{sid}/view(sid=${@navMenu.siteId(parameters)},page=${@navMenu.linkPageId(navItem)})}"
       th:title="${navItem.title}">
        <span class="additional-background ms-navedit-flyoutArrow"><span class="menu-item-text" th:text="${navItem.title}">Nav</span></span>
    </a>
    <a th:if="${@navMenu.linkWithoutPage(navItem) and navItem.pageUrl != null and !#strings.isEmpty(navItem.pageUrl) and #strings.startsWith(navItem.pageUrl,'http')}"
       class="static menu-item ms-core-listMenu-item ms-displayInline ms-navedit-linkNode"
       th:href="${navItem.pageUrl}"
       target="_blank"
       rel="noopener noreferrer"
       th:title="${navItem.title}">
        <span class="additional-background ms-navedit-flyoutArrow"><span class="menu-item-text" th:text="${navItem.title}">Nav</span></span>
    </a>
    <a th:if="${@navMenu.linkWithoutPage(navItem) and navItem.pageUrl != null and !#strings.isEmpty(navItem.pageUrl) and !#strings.startsWith(navItem.pageUrl,'http')}"
       class="static menu-item ms-core-listMenu-item ms-displayInline ms-navedit-linkNode"
       th:href="${navItem.pageUrl}"
       th:title="${navItem.title}">
        <span class="additional-background ms-navedit-flyoutArrow"><span class="menu-item-text" th:text="${navItem.title}">Nav</span></span>
    </a>
    <a th:if="${@navMenu.linkWithoutPage(navItem) and (navItem.pageUrl == null or #strings.isEmpty(navItem.pageUrl))}"
       class="static menu-item ms-core-listMenu-item ms-displayInline ms-navedit-linkNode"
       href="#"
       th:title="${navItem.title}">
        <span class="additional-background ms-navedit-flyoutArrow"><span class="menu-item-text" th:text="${navItem.title}">Nav</span></span>
    </a>
</li>
</html>
