<div class="w3-content w3-display-container"
     xmlns:th="http://www.w3.org/1999/xhtml" th:fragment="sliders">
    <a href="https://www.tourism.gov.za/CurrentProjects/Tourism_Equity_Fund/Pages/Tourism_Equity_Fund.aspx"
       target="_blank"><img class="mySlides" th:src="@{/site1/img/WebBanner2021.jpg}"
                            style="width: 100%; display: none;"></a>
    <a href="https://www.gov.za/FreedomMonth2021" target="_blank">
        <img class="mySlides" th:src="@{/site1/img/WebbannerApril.jpg}"
                                                                       style="width: 100%; display: block;"></a>

</div>
