<div xmlns:th="http://www.w3.org/1999/xhtml" th:fragment="slider">
    <section th:if="${parameters.containsKey('slider')}" class="hero-section">
        <div class="hero-slider owl-carousel">
            <div class="hero-item set-bg" th:data-setbg="@{|/${parameters['theme']}/img/hero-slider/1.jpg|}">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-8">
                            <h2><span>Power</span><span>& Energy</span><span>Industry</span></h2>
                            <a href="#" class="site-btn sb-white mr-4 mb-3">Read More</a>
                            <a href="#" class="site-btn sb-dark">our Services</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="hero-item set-bg" th:data-setbg="@{|/${parameters['theme']}/img/hero-slider/2.jpg|}">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-8">
                            <h2><span>Power</span><span>& Energy</span><span>Industry</span></h2>
                            <a href="#" class="site-btn sb-white mr-4 mb-3">Read More</a>
                            <a href="#" class="site-btn sb-dark">our Services</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
