<!DOCTYPE html>
<html lang="zxx" xmlns:th="http://www.w3.org/1999/xhtml">

<!--/*/ <th:block th:include="cms1/_head :: head" th:with="parameters=${parameters}"></th:block>/*/-->

<body>

	<!-- Header section  -->
	<!--/*/ <th:block th:include="cms1/_topbar :: topbar" th:with="parameters=${parameters}"></th:block>/*/-->
	<!-- Header section end  -->
	
	<!-- Page top section  -->
	<section class="page-top-section set-bg" th:data-setbg="@{|/${parameters['theme']}/img/page-top-bg/4.jpg|}">
		<div class="container">
			<div class="row">
				<div class="col-lg-7">
					<h2>Contact</h2>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque orci purus, sodales in est quis, blandit sollicitudin est. Nam ornare ipsum ac accumsan auctor. </p>
					<a href="" class="site-btn">Say hello</a>
				</div>
			</div>
		</div>
	</section>
	<!-- Page top section end  -->

	<!-- Map section  -->
	<div class="map-section">
		<div class="container">
			<div class="map-info">
				<img th:src="@{|/${parameters['theme']}/img/logo-contact.png|}" alt="">
				<p>Lorem ipsum dolor sit amet, consec-tetur adipiscing elit. Quisque orci purus, sodales in est quis, blandit sollicitudin est. Nam ornare ipsum ac accumsan auctor. </p>
			</div>
		</div>
		<div class="map">
			<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d14376.077865872314!2d-73.879277264103!3d40.757667781624285!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sbd!4v1546528920522" style="border:0" allowfullscreen></iframe>
		</div>
	</div>
	<!-- Map section end  -->

	<!-- Contact section   -->
	<section class="contact-section spad">
		<div class="container">
			<div class="row">
				<div class="col-lg-4">
					<div class="contact-text">
						<h2>Get in Touch</h2>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque orci purus, sodales in est quis, blandit sollicitudin estst quis, blandit sollicitudi. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque orci purus, sodales in est quis, blandit sollicitudin estst quis, blandit sollicitudi</p>
						<div class="header-info-box">
							<div class="hib-icon">
								<img th:src="@{|/${parameters['theme']}/img/icons/phone.png|}" alt="" class="">
							</div>
							<div class="hib-text">
								<h6 th:text="@{|${parameters['phone']}|}">+546 990221 123</h6>
								<p th:text="@{|${parameters['email']}|}">contact@industryalinc.com</p>
							</div>
						</div>
						<div class="header-info-box">
							<div class="hib-icon">
								<img th:src="@{|/${parameters['theme']}/img/icons/map-marker.png|}" alt="" class="">
							</div>
							<div class="hib-text">
								<h6>Main Str, no 23</h6>
								<p>NY, New York PK 23589</p>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-8">
					<form class="contact-form">
						<div class="row">
							<div class="col-lg-6">
								<input type="text" placeholder="Your Name">
							</div>
							<div class="col-lg-6">
								<input type="text" placeholder="Your Email">
							</div>
							<div class="col-lg-4">
							</div>
							<div class="col-lg-12">
								<input type="text" placeholder="Subject">
								<textarea class="text-msg" placeholder="Message"></textarea>
								<button class="site-btn" type="submit">send message</button>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</section>
	<!-- Contact section end  -->

	<!-- Call to action section  -->
	<section class="cta-section">
		<div class="container">
			<div class="row">
				<div class="col-lg-9 d-flex align-items-center">
					<h2>We produce or supply Goods, Services, or Sources</h2>
				</div>
				<div class="col-lg-3 text-lg-right" >
					<a href="#" class="site-btn sb-dark">contact us</a>
				</div>
			</div>
		</div>
	</section>
	<!-- Call to action section end  -->

	<!-- Footer section -->
	<!--/*/ <th:block th:include="cms1/_footer :: footer" th:with="parameters=${parameters}"></th:block>/*/-->
	<!-- Footer section end -->

	</body>
</html>
