<!DOCTYPE html>
<html lang="zxx" xmlns:th="http://www.w3.org/1999/xhtml">

<!--/*/ <th:block th:include="cms1/_head :: head" th:with="parameters=${parameters}"></th:block>/*/-->

<body>

	<!-- Header section  -->
	<!--/*/ <th:block th:include="cms1/_topbar :: topbar" th:with="parameters=${parameters}"></th:block>/*/-->
	<!-- Header section end  -->
	<div th:if="${parameters['page']['url']} == 'home'">
		<!-- Hero section  -->
		<!--/*/ <th:block th:include="cms1/_slider :: slider" th:with="parameters=${parameters}"></th:block>/*/-->
		<!-- Hero section end  -->
	</div>

	<!-- Page section  -->
	<div th:utext="|${parameters['body']}|">Industry.INC | HTML Template</div>

	<!-- Page section end  -->

	<!-- Footer section -->
	<!--/*/ <th:block th:include="cms1/_footer :: footer" th:with="parameters=${parameters}"></th:block>/*/-->
	<!-- Footer section end -->

	</body>
</html>
