<head xmlns:th="http://www.w3.org/1999/xhtml" th:fragment="head">
    <title th:text="${parameters['pageTitle']}">Industry.INC | HTML Template</title>
    <meta charset="UTF-8">
    <meta name="description" content="Industry.INC HTML Template">
    <meta name="keywords" content="industry, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Favicon -->
    <link th:href="@{|/${parameters['theme']}/img/favicon.ico|}" rel="shortcut icon"/>

    <!-- Google font -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i&display=swap" rel="stylesheet">

    <!-- Stylesheets -->
    <link rel="stylesheet" th:href="@{|/${parameters['theme']}/css/bootstrap.min.css|}"/>
    <link rel="stylesheet" th:href="@{|/${parameters['theme']}/css/font-awesome.min.css|}"/>
    <link rel="stylesheet" th:href="@{|/${parameters['theme']}/css/magnific-popup.css|}"/>
    <link rel="stylesheet" th:href="@{|/${parameters['theme']}/css/slicknav.min.css|}"/>
    <link rel="stylesheet" th:href="@{|/${parameters['theme']}/css/owl.carousel.min.css|}"/>

    <!-- Main Stylesheets -->
    <link rel="stylesheet" th:href="@{|/${parameters['theme']}/css/style.css|}"/>


    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
