<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Upload from spring boot</title>

    <link rel="stylesheet" th:href="@{/css/w3.css}">

    <script th:src="@{/admin/vendor/jquery/jquery.min.js}"></script>
    <script th:src="@{/admin/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
</head>
<body class="w3-container">
<h1>Spring boot</h1>
<h3>Upload file</h3>

<div th:if="${message}">
    <h2 th:text="${message}"/>
</div>

<form th:action="@{/upload}" method="post" enctype="multipart/form-data">
    <div>
        <label>File to upload:</label>
        <input type="file" name="files" />
    </div>

    <textarea id="text1" onchange="update()"></textarea>
    <input type="submit" value="Submit"/>
</form>

<p id="area"></p>

<script>
    function update(){
        // $('#area').text($('#text1'));
        $('#area').text($('#text1').val())
    }
</script>
</body>
</html>