<footer xmlns:th="http://www.w3.org/1999/xhtml" th:fragment="footer">
    <!--START FOOTER-->
    <div class="footer s4-notdlg">
        <div class="footercontainer s4-notdlg">
            <div class="footer-center-top s4-notdlg">
                <a href="https://www.tourism.gov.za/Pages/home.aspx#">
                    <img th:src="@{/site1/img/top_arrow.png}" alt="Top Arrow">
                </a>
            </div>
        </div>
        <div class="footer-center">
            <table cellpadding="0" cellspacing="0" class="footer-main-links"
                   style="height: 123px; width: 99%;">
                <tbody>
                <tr class="footer-headings">
                    <td style="width: 246px">
                        National Department of Tourism


                    </td>
                    <td style="width: 204px">
                        Publications


                    </td>
                    <td style="width: 188px">
                        Tourism Information


                    </td>
                    <td style="width: 150px">
                        Quick Links


                    </td>
                </tr>
                <tr class="footer-headings">
                    <td style="width: 246px">
                        <a href="https://www.tourism.gov.za/AboutNDT/Pages/default.aspx"
                           forecolor="White" font-bold="False">
                            About


                        </a>
                    </td>
                    <td style="width: 204px">
                        <a href="https://www.tourism.gov.za/ResourceCentre/Pages/StrategicDocuments.aspx"
                           forecolor="White" font-bold="False">
                            Strategies


                        </a>
                    </td>
                    <td style="width: 188px">
                        <a href="https://www.tourism.gov.za/Pages/Government-Links.aspx"
                           forecolor="White" font-bold="False">
                            Government Links


                        </a>
                    </td>
                    <td style="width: 150px">
                        <a href="http://www.southafrica.net/sat/content/en/za/home" forecolor="White"
                           font-bold="False">
                            SA Tourism


                        </a>
                    </td>
                </tr>
                <tr>
                    <td style="width: 246px">
                        <a href="https://www.tourism.gov.za/AboutNDT/Ministry/Pages/About-Ministry.aspx"
                           forecolor="White" font-bold="False">
                            Ministry


                        </a>
                    </td>
                    <td style="width: 204px">
                        <a href="https://www.tourism.gov.za/ResourceCentre/Pages/Guidelines.aspx"
                           forecolor="White" font-bold="False">
                            Guidelines


                        </a>
                    </td>
                    <td style="width: 188px">
                        <a href="https://www.tourism.gov.za/Pages/Environment-Links.aspx"
                           forecolor="White" font-bold="False">
                            Environment Links


                        </a>
                    </td>
                    <td style="width: 150px">
                        <a href="https://www.tourism.gov.za/Pages/Safety--Travel-Tips-Info.aspx"
                           forecolor="White" font-bold="False">
                            Safety and Travel Tips


                        </a>
                    </td>
                </tr>
                <tr>
                    <td style="width: 246px">
                        <a href="https://www.tourism.gov.za/Pages/contactus.aspx" forecolor="White"
                           font-bold="False">
                            Contact Us


                        </a>
                    </td>
                    <td style="width: 204px">
                        <a href="https://www.tourism.gov.za/ResourceCentre/Pages/Legal-and-Legislation.aspx"
                           forecolor="White" font-bold="False">
                            Legal and Legislation


                        </a>
                    </td>
                    <td style="width: 188px">
                        <a href="https://www.tourism.gov.za/Pages/Tourism-Links.aspx" forecolor="White"
                           font-bold="False">
                            Tourism Links


                        </a>
                    </td>
                    <td style="width: 150px">
                        <a href="https://www.tourism.gov.za/Pages/Abbreviations.aspx" forecolor="White"
                           font-bold="False">
                            Abbreviations


                        </a>
                    </td>
                </tr>
                <tr>
                    <td style="width: 246px">
                        <a href="https://www.tourism.gov.za/AboutNDT/Pages/FAQs.aspx" forecolor="White"
                           font-bold="False">
                            FAQs


                        </a>
                    </td>
                    <td style="width: 204px">
                        <a href="https://www.tourism.gov.za/Pages/PAIA.aspx" forecolor="White"
                           font-bold="False">
                            PAIA


                        </a>
                    </td>
                    <td style="width: 188px">
                        <a href="https://www.tourism.gov.za/Pages/Tourism-Authority-Links.aspx"
                           forecolor="White" font-bold="False">
                            Tourism Authority Links


                        </a>
                    </td>
                    <td style="width: 150px">
                        <a href="https://www.tourism.gov.za/AboutNDT/Branches1/Administration/Pages/Corruption-and-Fraud.aspx"
                           forecolor="White" font-bold="False">
                            Fraud and Corruption


                        </a>
                    </td>
                </tr>
                <tr>
                    <td style="width: 246px">
                        <a href="https://www.tourism.gov.za/Lists/Site%20Feedback/NewForm.aspx?Source=/Pages/SurveyThankYou.aspx"
                           forecolor="White" font-bold="False">
                            Give Us Feedback


                        </a>
                    </td>
                    <td style="width: 246px">
                    </td>
                    <td style="width: 246px">
                    </td>
                    <td style="width: 246px">
                        <a href="https://www.tourism.gov.za/Applications/Pages/Applications.aspx"
                           forecolor="White" font-bold="False">
                            E-Tools

                        </a>
                    </td>
                </tr>
                <tr>
                    <td style="width: 246px">
                    </td>
                </tr>
                <tr>
                    <td colspan="4" class="ms-wpselectlinkfocus">
                        ©
                        <script type="text/javascript">//<![CDATA[
                        document.write(new Date().getFullYear());


                        //]]></script>
                        2021
                        <span lang="en-za">
                                            </span>
                        Department of Tourism | <span lang="en-za">
                                                <a href="https://www.tourism.gov.za/Pages/Disclaimer.aspx"
                                                   forecolor="#FFFFFF">
                                                    Disclaimer
                                                </a>
                                            </span>


                        &nbsp;|
                        <a href="https://www.tourism.gov.za/pages/sitemap.aspx" forecolor="#FFFFFF">Sitemap


                        </a>


                        &nbsp;|
                        <a href="https://www.tourism.gov.za/Pages/WebMasters.aspx" forecolor="#FFFFFF">Contact
                            the Web Masters


                        </a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <!--END FOOTER-->
</footer>
