<header xmlns:th="http://www.w3.org/1999/xhtml"
        th:fragment="header">
    <div class="nav2 s4-notdlg">
        <table border="0" cellspacing="0" cellpadding="0">
            <tbody>
            <tr>
                <td height="45px" class="navback s4-notdlg">
                    <div class="top-nav-home s4-notdlg">
                    </div>
                </td>
                <td width="940px" height="45px" class="navback s4-notdlg">
                    <!--Navigation-->
                    <th:block th:replace="~{themes/site1/fragments/cms_primary_nav :: primaryNav}"></th:block>
                    <!--End Navigation-->
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <!--social icons-->
    <div class="center s4-notdlg">
        <table class="center black" cellpadding="0" cellspacing="0">
            <tbody>
            <tr>
                <td style="width:154px; height:96px;">
                    <img alt="South African Tourism" title="South African Tourism"
                         th:src="@{/site1/img/flag2.png}" width="154" height="96">
                </td>
                <td style="width:321px; height:96px;">
                    <img alt="Call Centre" title="Call Centre" th:src="@{/site1/img/call.png}" width="321"
                         height="96">
                </td>
                <td style="width:65px; height:63px;">
                    <a href="https://www.tourism.gov.za/Applications/Pages/Applications.aspx"
                       target="_blank">
                        <img alt="E-Tools" title="E-Tools" th:src="@{/site1/img/e_tools.png}" width="65"
                             height="63">
                    </a>
                </td>
                <td style="width:65px; height:63px;">
                    <a href="https://www.facebook.com/NationalDepartmentOfTourism" target="_blank">
                        <img alt="Facebook" title="Facebook" th:src="@{/site1/img/facebook.png}" width="65"
                             height="63">
                    </a>
                </td>
                <td style="width:65px; height:63px;">
                    <a href="https://twitter.com/Tourism_gov_za" target="_blank">
                        <img alt="Twitter" title="Twitter" th:src="@{/site1/img/twitter.png}" width="65"
                             height="63">
                    </a>
                </td>
                <td style="width:264px; height:96px;">
                    <div class="ribbon-search-holder">
                        <table cellpadding="0" cellspacing="0">
                            <tbody>
                            <tr>
                                <td>
                                    <div id="tour search" style="color:gray; background-color:white">
                                        <!--<input type="text" class="ribbon-search-text" value="Enter search query " onblur="SearchBlur(this)" onfocus="SearchFocus(this)" onkeypress="SearchRibbon(key())" />-->
                                        <div id="searchInputBox">

                                        </div>

                                    </div>
                                </td>
                                <td>
                                    <!--<div class="ribbon-search-button" onclick="SearchButtonRibbon()">GO






                                        </div>-->
                                    <div>
                                        <div class="ms-webpart-chrome ms-webpart-chrome-fullWidth ">
                                            <div webpartid="00000000-0000-0000-0000-000000000000"
                                                 haspers="true" id="WebPartWPQ1" width="100%"
                                                 class="ms-WPBody " onlyformepart="true" allowdelete="false"
                                                 style="">
                                                <div componentid="ctl00_SmallSearchInputBox1_csr"
                                                     id="ctl00_SmallSearchInputBox1_csr">
                                                    <div id="SearchBox" name="Control">
                                                        <div class="ms-srch-sb ms-srch-sb-border"
                                                             id="ctl00_SmallSearchInputBox1_csr_sboxdiv">
                                                            <input type="text" value="Search this site"
                                                                   maxlength="2048" accesskey="S"
                                                                   title="Search this site"
                                                                   id="ctl00_SmallSearchInputBox1_csr_sbox"
                                                                   autocomplete="off" autocorrect="off"
                                                                   onkeypress="EnsureScriptFunc(&#39;Search.ClientControls.js&#39;, &#39;Srch.U&#39;, function() {if (Srch.U.isEnterKey(String.fromCharCode(event.keyCode))) {$find(&#39;ctl00_SmallSearchInputBox1_csr&#39;).search($get(&#39;ctl00_SmallSearchInputBox1_csr_sbox&#39;).value);return Srch.U.cancelEvent(event);}})"
                                                                   onkeydown="EnsureScriptFunc(&#39;Search.ClientControls.js&#39;, &#39;Srch.U&#39;, function() {var ctl = $find(&#39;ctl00_SmallSearchInputBox1_csr&#39;);ctl.activateDefaultQuerySuggestionBehavior();})"
                                                                   onfocus="EnsureScriptFunc(&#39;Search.ClientControls.js&#39;, &#39;Srch.U&#39;, function() {var ctl = $find(&#39;ctl00_SmallSearchInputBox1_csr&#39;);ctl.hidePrompt();ctl.setBorder(true);})"
                                                                   onblur="EnsureScriptFunc(&#39;Search.ClientControls.js&#39;, &#39;Srch.U&#39;, function() {var ctl = $find(&#39;ctl00_SmallSearchInputBox1_csr&#39;); if (ctl){ ctl.showPrompt(); ctl.setBorder(false);}})"
                                                                   class="ms-textSmall ms-srch-sb-prompt ms-helperText"><a
                                                                title="Navigation"
                                                                id="ctl00_SmallSearchInputBox1_csr_NavButton"
                                                                onclick="EnsureScriptFunc(&#39;Search.ClientControls.js&#39;, &#39;Srch.U&#39;, function() {$find(&#39;ctl00_SmallSearchInputBox1_csr&#39;).activateDefaultNavigationBehavior();return Srch.U.cancelEvent(event);})"
                                                                href="javascript: {}"
                                                                class="ms-srch-sb-navLink"><img
                                                                th:src="@{/site1/img/searchresultui.png}"
                                                                class="ms-srch-sb-navImg" id="navImg"
                                                                alt="Navigation"></a><a title="Search"
                                                                                        role="button"
                                                                                        class="ms-srch-sb-searchLink"
                                                                                        id="ctl00_SmallSearchInputBox1_csr_SearchLink"
                                                                                        onclick="EnsureScriptFunc(&#39;Search.ClientControls.js&#39;, &#39;Srch.U&#39;, function() {$find(&#39;ctl00_SmallSearchInputBox1_csr&#39;).search($get(&#39;ctl00_SmallSearchInputBox1_csr_sbox&#39;).value);})"
                                                                                        href="javascript: {}"><img
                                                                th:src="@{/site1/img/searchresultui.png}"
                                                                class="ms-srch-sb-searchImg" id="searchImg"
                                                                alt="Search"></a>
                                                            <div class="ms-qSuggest-container ms-shadow"
                                                                 id="AutoCompContainer">
                                                                <div id="ctl00_SmallSearchInputBox1_csr_AutoCompList"></div>
                                                            </div>
                                                            <div class="ms-qSuggest-container ms-shadow"
                                                                 id="NavDropdownListContainer">
                                                                <div id="ctl00_SmallSearchInputBox1_csr_NavDropdownList"></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <noscript>
                                                    <div id="ctl00_SmallSearchInputBox1_noscript">It looks
                                                        like your browser does not have JavaScript enabled.
                                                        Please turn on JavaScript and try again.
                                                    </div>
                                                </noscript>
                                                <div id="ctl00_SmallSearchInputBox1">

                                                </div>
                                                <div class="ms-clear"></div>
                                            </div>
                                        </div>
                                    </div>


                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <!--End of social icons-->
</header>
